<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Logs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Work Logs</h1>

    <a class="navigation" href="/"><span class="margins">Back to Home</span></a>

    <!-- Display the list of logs -->
    <ul>
        {% for log in logs %}
        <li class="row">S.N: {{ log[0] }} | {{ log[1] }} | {{ log[2] }}</li>
        {% else %}
        <li>No logs yet!</li>
        {% endfor %}
    </ul>

    <br>
</body>

</html>