<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Logs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Work Logs</h1>
        <a class="navigation" href="/home"><span class="margins">Back to Home</span></a>
        <ul>
            {% for log in logs %}
            <li class="row"> <span>

                    <span>
                        S.N: {{ log[0] }}
                    </span>
                    ||

                    <span class="middle">
                        {{ log[1] }}
                    </span>
                    ||
                    <span>
                        {{ log[2] }}
                    </span>
                </span>
                {% else %}
            <li>No logs yet!</li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>